[*.cs]

# CS8625: null リテラルを null 非許容参照型に変換できません。
dotnet_diagnostic.CS8625.severity = error

# CS8604: Null 参照引数の可能性があります。
dotnet_diagnostic.CS8604.severity = error

# IDE0130: Namespace がフォルダー構造と一致しません
dotnet_diagnostic.IDE0130.severity = none

# CS8963: CallerArgumentExpressionAttribute が無効なパラメーター名で適用されています。
dotnet_diagnostic.CS8963.severity = error

# IDE0046: 条件式に変換します
dotnet_diagnostic.IDE0046.severity = silent
