[*.cs]

# CS8625: null リテラルを null 非許容参照型に変換できません。
dotnet_diagnostic.CS8625.severity = error

# CS8604: Null 参照引数の可能性があります。
dotnet_diagnostic.CS8604.severity = error

# IDE0130: Namespace がフォルダー構造と一致しません
dotnet_diagnostic.IDE0130.severity = none

# CS8963: CallerArgumentExpressionAttribute が無効なパラメーター名で適用されています。
dotnet_diagnostic.CS8963.severity = error

# IDE0046: 条件式に変換します
dotnet_diagnostic.IDE0046.severity = silent

# IDE0061: ローカル関数に式本体を使用します
dotnet_diagnostic.IDE0061.severity = silent

# CA1861: 引数として定数配列を使用しない
dotnet_diagnostic.CA1861.severity = silent

# IDE0305: コレクションの初期化を簡略化します
dotnet_diagnostic.IDE0305.severity = silent

# IDE0090: 'new(...)' を使用する
dotnet_diagnostic.IDE0090.severity = silent

# IDE0290: プライマリ コンストラクターの使用
dotnet_diagnostic.IDE0290.severity = silent

# CS8602: null 参照の可能性があるものの逆参照です。
dotnet_diagnostic.CS8602.severity = error

# CS8600: Null リテラルまたは Null の可能性がある値を Null 非許容型に変換しています。
dotnet_diagnostic.CS8600.severity = error

# CS8601: Null 参照代入の可能性があります。
dotnet_diagnostic.CS8601.severity = error

# CS8618: null 非許容のフィールドには、コンストラクターの終了時に null 以外の値が入っていなければなりません。Null 許容として宣言することをご検討ください。
dotnet_diagnostic.CS8618.severity = error
